#page {
    margin-top: 80px;
}
.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.navbar {
    border: none !important;
}
.data-info {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125em;
}
.side-pad {
    padding-left: 15px;
    padding-right: 15px;
}
#page {
	margin-top: 80px;
}
.logo {
	position: relative;
	margin: 0 auto;
}
.cards {
	overflow: visible;
	position: relative;
}
.cards:hover .card-block {
	visibility: visible;
	opacity: 1;
	position: absolute;
}
.card-block {
	top: 10%;
	left: -10%;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	transition: all .2s;
	opacity: 0;
}
.col-center {
    float: none !important;
    margin: 0 auto;
    display: block;
}
.palette {
	border-radius: 100%;
	margin: 20px auto;
	height: 120px;
	width: 120px;
	border: 8px solid white;
	box-shadow: 2px 2px 7px;
}

.palette-color1 {
    background-color: #4ec5dc;
}
.palette-color2 {
    background-color: #78c26b;
}
.palette-color3 {
    background-color: #fbdb31;
}
.palette-color4 {
    background-color: #f2e6e5;
}
.palette-color5 {
    background-color: #f36341;
}
.palette-color6 {
    background-color: #363636;
}
#main-carousel {
    background-color: #ffffff;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease;
}
.social-box {
	margin-top: 12px;
	margin-right: 25px;
}
.social-img {
	width: 60px;
	height: 60px;
}
#map {
	position: absolute;
}
.social {
    right: 0;
	position: absolute;
}
.social-contact {
	display: table-cell;
	color: red;
	line-height: 60px;
	padding-right: 10px;
}
.map {
	position: relative;
	height: 450px;
}
.pencil {
	margin: 20px auto;
	width: 80% !important;
}