.palette-col1 {background-color: #C7CBAC;}
.palette-col2 {background-color: #A5AE8C;}
.palette-col3 {background-color: #FAF6C9;}
.palette-col4 {background-color: #4E1E1C;}
.palette-col5 {background-color: #C8B339;}
.palette-col6 {background-color: #E25B29;}
.palette-col7 {background-color: #76996D;}
#page {
    margin-top: 80px;
}
.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}
.navbar {
    border: none !important;
}
.data-info {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125em;
}
.side-pad {
    padding-left: 15px;
    padding-right: 15px;
}
#page {
	margin-top: 80px;
}
.logo {
	position: relative;
	margin: 0 auto;
}
.cards {
	overflow: visible;
	position: relative;
}
.cards:hover .card-block {
	visibility: visible;
	opacity: 1;
	position: absolute;
}
.card-block {
	top: 10%;
	left: -10%;
	position: absolute;
	z-index: 100;
	visibility: hidden;
	transition: all .2s;
	opacity: 0;
}
.col-center {
    float: none !important;
    margin: 0 auto;
    display: block;
}
#main-carousel {
    background-color: #ffffff;
    -webkit-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -ms-transition: background-color 1.5s ease;
    -o-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease;
}
.social-box {
	margin-top: 0;
	margin-right: 25px;
}
.social-img {
	width: 53px;
	height: 40px;
}
.social {
    top: 38px;
    right: 0;
	position: absolute;
}
.social-contact {
	display: table-cell;
	color: red;
	line-height: 60px;
	padding-right: 10px;
}
.map {
	position: relative;
}
.pencil {
	margin: 20px auto;
	width: 80% !important;
}
.info-min {
    font-size: 23px;
    margin-left: 10px;
}
.cards {
    overflow: visible;
    position: relative;
}
.cards:nth-last-child() {
    margin-bottom: 100px;
}
.cards img:hover .card-block {
    visibility: visible;
    opacity: 1;
    position: absolute;
}
.card-block {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    transition: all .2s;
    opacity: 0;
    border: 3px solid #000000;
    background-color: #ffffff;
}
.info-max {
    font-size: 18px;
    margin-left: 8px;
}
.palette-ink {
    height: 30px;
    width: 70px;
    float: left;
    display: block;
    cursor: pointer;
}
.default-color {
    width: 57px;
    height: 88px;
    float: left;
}
.division {
    background-color: #080808;
}
.division:hover {
    opacity: 0.7;
}
.col-center {
    float: none !important;
    margin: 0 auto;
    display: block;
}
.palette-ink {
    width: 14.28571428571429%;
    height: 34px;
    display: block;
    float: left;
    cursor: pointer;
    margin-top: 29px;
}
.palette-ink:first-child {
    border-radius: 15px 0 0 15px;
}
.palette-ink:last-child {
    border-radius: 0 15px 15px 0;
}
.my-pic {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
.palette {
    background-image: url(/bitrix/templates/web20/images/bg.jpg);
    background-repeat: repeat;
}
.palette-color-box {
    margin-bottom: 10px;
    height: 88px;
    background-repeat: no-repeat;
}
.palette-color-box img {
    width: 57px !important;
    height: 88px;
    cursor: pointer;
}
.analize-img {
    margin-top: 7px;
    margin-left: 4px;
    width: auto;
}
.division-info {
    border-top: 3px solid rgba(0, 0, 0, 0.30);
}
.division-info h2{
    margin-left: 15px;
}
.division-info p{
    margin-left: 5px;
    text-indent: 13px;
}
.division-info:nth-child(1) {
    border-top: none;
}